# Bytecode / caches
__pycache__/
*.pyc

# Build artifacts
build/
dist/
*.egg-info/

# Virtual envs
.venv/
venv/
.env/

# Tests/coverage
.pytest_cache/
.coverage
htmlcov/

# IDE/editor
.idea/
.vscode/
.DS_Store
*.swp

# Lockfile (optional for libraries)
Pipfile.lock
